body {
    overflow: hidden;
    background: #000000;
    background: radial-gradient(circle, #000000 0%, #000000 100%);
  }
  
  h1 {
    color: white;
    font-weight: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding: 10px;
    text-align: center;
  }
  
  .mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(0, 3%, 64%);
    cursor: pointer;
  }
  
  .mic::before, .mic::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0 0 20px 20px #19191b;
  }
  
  .mic::before {
    width: 240px;
    height: 240px;
    background-color: #141415;
  }
  
  .mic::after {
    width: 200px;
    height: 200px;
    background-color: #0a0a0b;
    transition: width 0.5s, height 0.5s;
  }
  
  .mic-icon {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%) scale(4);
    display: block;
    width: 14px;
    height: 10px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-top: 0;
    margin-top: 15px;
    z-index: 3;
  }
  
  .mic-icon::before, .mic-icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
  }
  
  .mic-icon::before {
    width: 1.5px;
    height: 7px;
    top: calc(100% + 0.5px);
    left: 52%;
    border-radius: 4px;
    transform: translate(-50%, 0);
    background-color: hsl(0, 3%, 64%);
  }
  
  .mic-icon::after {
    border: 2px solid;
    width: 7px;
    height: 14px;
    left: 50%;
    top: -8px;
    border-radius: 4px;
    transform: translate(-50%, 0);
  }
  
  .mic-shadow {
    width: 190px;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 10px -55px 30px 15px #160e1e,
                24px -10px 47px 10px #261046,
                -21px -25px 97px 10px #090621,
                51px 5px 17px 10px #12101d,
                3px 2px 77px 10px #3f1851;
    animation: shadow-rotate 1.5s linear infinite;       
    transform-origin: center;      
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition */      
  }
  
  @keyframes beat {
    0% {
        width: 180px;
        height: 180px;
    }
    50% {
        width: 240px;
        height: 240px;
    }
    100% {
        width: 180px;
        height: 180px;
    }
  }
  
  @keyframes shadow-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .mic.animate::after {
    animation: beat 1.8s infinite;
  }
  
  .mic.animate .mic-shadow {
    opacity: 1; 
    animation: shadow-rotate 1.5s linear infinite;
  }
  

  i:hover {
    cursor: pointer;
    color: #dbd2d2;
}

.mic-icon:hover::before {
    background-color: #dbd2d2;
}